/* 
 * Gridlock v3.0.1 - 2014-02-22 
 * A responsive CSS grid system. Part of the Formstone Library. 
 * http://formstone.it/gridlock/ 
 * 
 * Copyright 2014 Ben Plum; MIT Licensed 
 */ 

	/* !Tablet, 8 column, 720 (min 740) */
	@media screen and (min-width: 740px) {
		/* Cells */
		.gridlock .row .tablet-1 { width: 10.416666666667%; }
		.gridlock .row .tablet-2 { width: 22.916666666667%; }
		.gridlock .row .tablet-3 { width: 35.416666666667%; }
		.gridlock .row .tablet-4 { width: 47.916666666667%; }
		.gridlock .row .tablet-5 { width: 60.416666666667%; }
		.gridlock .row .tablet-6 { width: 72.916666666667%; }
		.gridlock .row .tablet-7 { width: 85.416666666667%; }
		.gridlock .row .tablet-8 { width: 97.916666666667%; }

		/* Push */
		.gridlock .row .tablet-push-1 { margin-left: 13.54166666666667%; }
		.gridlock .row .tablet-push-2 { margin-left: 26.04166666666667%; }
		.gridlock .row .tablet-push-3 { margin-left: 38.54166666666667%; }
		.gridlock .row .tablet-push-4 { margin-left: 51.04166666666667%; }
		.gridlock .row .tablet-push-5 { margin-left: 63.54166666666667%; }
		.gridlock .row .tablet-push-6 { margin-left: 76.04166666666667%; }
		.gridlock .row .tablet-push-7 { margin-left: 88.54166666666667%; }

		/* Contained */
		.gridlock .row .contained.tablet-1 { width: 12.5%; }
		.gridlock .row .contained.tablet-2 { width: 25%; }
		.gridlock .row .contained.tablet-3 { width: 37.5%; }
		.gridlock .row .contained.tablet-4 { width: 50%; }
		.gridlock .row .contained.tablet-5 { width: 62.5%; }
		.gridlock .row .contained.tablet-6 { width: 75%; }
		.gridlock .row .contained.tablet-7 { width: 87.5%; }
		.gridlock .row .contained.tablet-8 { width: 100%; }

		/* Contained Push */
		.gridlock .row .contained.tablet-push-1 { margin-left: 12.5%; }
		.gridlock .row .contained.tablet-push-2 { margin-left: 25%; }
		.gridlock .row .contained.tablet-push-3 { margin-left: 37.5%; }
		.gridlock .row .contained.tablet-push-4 { margin-left: 50%; }
		.gridlock .row .contained.tablet-push-5 { margin-left: 62.5%; }
		.gridlock .row .contained.tablet-push-6 { margin-left: 75%; }
		.gridlock .row .contained.tablet-push-7 { margin-left: 87.5%; }
	}

	/* !Desktop, 16 column, 960 (min 980) */
	@media screen and (min-width: 980px) {
		/* Cells */
		.gridlock .row .desktop-1  { width: 4.166666666667%; }
		.gridlock .row .desktop-2  { width: 10.416666666667%; }
		.gridlock .row .desktop-3  { width: 16.666666666667%; }
		.gridlock .row .desktop-4  { width: 22.916666666667%; }
		.gridlock .row .desktop-5  { width: 29.166666666667%; }
		.gridlock .row .desktop-6  { width: 35.416666666667%; }
		.gridlock .row .desktop-7  { width: 41.666666666667%; }
		.gridlock .row .desktop-8  { width: 47.916666666667%; }
		.gridlock .row .desktop-9  { width: 54.166666666667%; }
		.gridlock .row .desktop-10 { width: 60.416666666667%; }
		.gridlock .row .desktop-11 { width: 66.666666666667%; }
		.gridlock .row .desktop-12 { width: 72.916666666667%; }
		.gridlock .row .desktop-13 { width: 79.166666666667%; }
		.gridlock .row .desktop-14 { width: 85.416666666667%; }
		.gridlock .row .desktop-15 { width: 91.666666666667%; }
		.gridlock .row .desktop-16 { width: 97.916666666667%; }

		/* Push */
		.gridlock .row .desktop-push-1  { margin-left: 7.291666666667%; }
		.gridlock .row .desktop-push-2  { margin-left: 13.541666666667%; }
		.gridlock .row .desktop-push-3  { margin-left: 19.791666666667%; }
		.gridlock .row .desktop-push-4  { margin-left: 26.041666666667%; }
		.gridlock .row .desktop-push-5  { margin-left: 32.29166666666667%; }
		.gridlock .row .desktop-push-6  { margin-left: 38.54166666666667%; }
		.gridlock .row .desktop-push-7  { margin-left: 44.79166666666667%; }
		.gridlock .row .desktop-push-8  { margin-left: 51.29166666666667%; }
		.gridlock .row .desktop-push-9  { margin-left: 57.29166666666667%; }
		.gridlock .row .desktop-push-10 { margin-left: 63.54166666666667%; }
		.gridlock .row .desktop-push-11 { margin-left: 69.79166666666667%; }
		.gridlock .row .desktop-push-12 { margin-left: 76.04166666666667%; }
		.gridlock .row .desktop-push-13 { margin-left: 82.29166666666667%; }
		.gridlock .row .desktop-push-14 { margin-left: 88.54166666666667%; }
		.gridlock .row .desktop-push-15 { margin-left: 94.79166666666667%; }

		/* Contained */
		.gridlock .row .contained.desktop-1  { width: 6.25%; }
		.gridlock .row .contained.desktop-2  { width: 12.5%; }
		.gridlock .row .contained.desktop-3  { width: 18.75%; }
		.gridlock .row .contained.desktop-4  { width: 25%; }
		.gridlock .row .contained.desktop-5  { width: 31.25%; }
		.gridlock .row .contained.desktop-6  { width: 37.5%; }
		.gridlock .row .contained.desktop-7  { width: 43.75%; }
		.gridlock .row .contained.desktop-8  { width: 50%; }
		.gridlock .row .contained.desktop-9  { width: 5.25%; }
		.gridlock .row .contained.desktop-10 { width: 62.5%; }
		.gridlock .row .contained.desktop-11 { width: 68.75%; }
		.gridlock .row .contained.desktop-12 { width: 75%; }
		.gridlock .row .contained.desktop-13 { width: 82.25%; }
		.gridlock .row .contained.desktop-14 { width: 87.5%; }
		.gridlock .row .contained.desktop-15 { width: 93.75%; }
		.gridlock .row .contained.desktop-16 { width: 100%; }

		/* Contained Push */
		.gridlock .row .contained.desktop-push-1  { margin-left: 6.25%; }
		.gridlock .row .contained.desktop-push-2  { margin-left: 12.5%; }
		.gridlock .row .contained.desktop-push-3  { margin-left: 18.75%; }
		.gridlock .row .contained.desktop-push-4  { margin-left: 25%; }
		.gridlock .row .contained.desktop-push-5  { margin-left: 31.25%; }
		.gridlock .row .contained.desktop-push-6  { margin-left: 37.5%; }
		.gridlock .row .contained.desktop-push-7  { margin-left: 43.75%; }
		.gridlock .row .contained.desktop-push-8  { margin-left: 50%; }
		.gridlock .row .contained.desktop-push-9  { margin-left: 5.25%; }
		.gridlock .row .contained.desktop-push-10 { margin-left: 62.5%; }
		.gridlock .row .contained.desktop-push-11 { margin-left: 68.75%; }
		.gridlock .row .contained.desktop-push-12 { margin-left: 75%; }
		.gridlock .row .contained.desktop-push-13 { margin-left: 82.25%; }
		.gridlock .row .contained.desktop-push-14 { margin-left: 87.5%; }
		.gridlock .row .contained.desktop-push-15 { margin-left: 93.75%; }
	}

	/* !Desktop, Max, 12 column, 1200 (min 1220), ignored by IE8 */
	@media screen and (min-width: 1220px) {
		.gridlock .row .max-1  { width: 4.166666666667%; }
		.gridlock .row .max-2  { width: 10.416666666667%; }
		.gridlock .row .max-3  { width: 16.666666666667%; }
		.gridlock .row .max-4  { width: 22.916666666667%; }
		.gridlock .row .max-5  { width: 29.166666666667%; }
		.gridlock .row .max-6  { width: 35.416666666667%; }
		.gridlock .row .max-7  { width: 41.666666666667%; }
		.gridlock .row .max-8  { width: 47.916666666667%; }
		.gridlock .row .max-9  { width: 54.166666666667%; }
		.gridlock .row .max-10 { width: 60.416666666667%; }
		.gridlock .row .max-11 { width: 66.666666666667%; }
		.gridlock .row .max-12 { width: 72.916666666667%; }
		.gridlock .row .max-13 { width: 79.166666666667%; }
		.gridlock .row .max-14 { width: 85.416666666667%; }
		.gridlock .row .max-15 { width: 91.666666666667%; }
		.gridlock .row .max-16 { width: 97.916666666667%; }

		/* Push Cells */
		.gridlock .row .max-push-0  { margin-left: 1.0416666666666667%; }
		.gridlock .row .max-push-1  { margin-left: 7.291666666667%; }
		.gridlock .row .max-push-2  { margin-left: 13.541666666667%; }
		.gridlock .row .max-push-3  { margin-left: 19.791666666667%; }
		.gridlock .row .max-push-4  { margin-left: 26.041666666667%; }
		.gridlock .row .max-push-5  { margin-left: 32.29166666666667%; }
		.gridlock .row .max-push-6  { margin-left: 38.54166666666667%; }
		.gridlock .row .max-push-7  { margin-left: 44.79166666666667%; }
		.gridlock .row .max-push-8  { margin-left: 51.29166666666667%; }
		.gridlock .row .max-push-9  { margin-left: 57.29166666666667%; }
		.gridlock .row .max-push-10 { margin-left: 63.54166666666667%; }
		.gridlock .row .max-push-11 { margin-left: 69.79166666666667%; }
		.gridlock .row .max-push-12 { margin-left: 76.04166666666667%; }
		.gridlock .row .max-push-13 { margin-left: 82.29166666666667%; }
		.gridlock .row .max-push-14 { margin-left: 88.54166666666667%; }
		.gridlock .row .max-push-15 { margin-left: 94.79166666666667%; }

		/* Contained */
		.gridlock .row .contained.max-1  { width: 6.25%; }
		.gridlock .row .contained.max-2  { width: 12.5%; }
		.gridlock .row .contained.max-3  { width: 18.75%; }
		.gridlock .row .contained.max-4  { width: 25%; }
		.gridlock .row .contained.max-5  { width: 31.25%; }
		.gridlock .row .contained.max-6  { width: 37.5%; }
		.gridlock .row .contained.max-7  { width: 43.75%; }
		.gridlock .row .contained.max-8  { width: 50%; }
		.gridlock .row .contained.max-9  { width: 5.25%; }
		.gridlock .row .contained.max-10 { width: 62.5%; }
		.gridlock .row .contained.max-11 { width: 68.75%; }
		.gridlock .row .contained.max-12 { width: 75%; }
		.gridlock .row .contained.max-13 { width: 82.25%; }
		.gridlock .row .contained.max-14 { width: 87.5%; }
		.gridlock .row .contained.max-15 { width: 93.75%; }
		.gridlock .row .contained.max-16 { width: 100%; }

		/* Contained Push */
		.gridlock .row .contained.max-push-1  { margin-left: 6.25%; }
		.gridlock .row .contained.max-push-2  { margin-left: 12.5%; }
		.gridlock .row .contained.max-push-3  { margin-left: 18.75%; }
		.gridlock .row .contained.max-push-4  { margin-left: 25%; }
		.gridlock .row .contained.max-push-5  { margin-left: 31.25%; }
		.gridlock .row .contained.max-push-6  { margin-left: 37.5%; }
		.gridlock .row .contained.max-push-7  { margin-left: 43.75%; }
		.gridlock .row .contained.max-push-8  { margin-left: 50%; }
		.gridlock .row .contained.max-push-9  { margin-left: 5.25%; }
		.gridlock .row .contained.max-push-10 { margin-left: 62.5%; }
		.gridlock .row .contained.max-push-11 { margin-left: 68.75%; }
		.gridlock .row .contained.max-push-12 { margin-left: 75%; }
		.gridlock .row .contained.max-push-13 { margin-left: 82.25%; }
		.gridlock .row .contained.max-push-14 { margin-left: 87.5%; }
		.gridlock .row .contained.max-push-15 { margin-left: 93.75%; }
	}