	/* !Tablet, 6 column, 720 (min 740) */
	@media screen and (min-width: 740px) and (max-width: 980px) {
		/* Cells */
		.gridlock .row .tablet-1 { width: calc( ((100% / 6) * 1) - 20px ); }
		.gridlock .row .tablet-2 { width: calc( ((100% / 6) * 2) - 20px ); }
		.gridlock .row .tablet-3 { width: calc( ((100% / 6) * 3) - 20px ); }
		.gridlock .row .tablet-4 { width: calc( ((100% / 6) * 4) - 20px ); }
		.gridlock .row .tablet-5 { width: calc( ((100% / 6) * 5) - 20px ); }
		.gridlock .row .tablet-6 { width: calc( 100% - 20px ); }

		/* Push */
		.gridlock .row .tablet-push-1 { margin-left: calc( ((100% / 6) * 1) + 10px ); }
		.gridlock .row .tablet-push-2 { margin-left: calc( ((100% / 6) * 2) + 10px ); }
		.gridlock .row .tablet-push-3 { margin-left: calc( ((100% / 6) * 3) + 10px ); }
		.gridlock .row .tablet-push-4 { margin-left: calc( ((100% / 6) * 4) + 10px ); }
		.gridlock .row .tablet-push-5 { margin-left: calc( ((100% / 6) * 5) + 10px ); }

		/* Contained */
		.gridlock .row .contained.tablet-1 { width: calc( (100% / 6) * 1 ); }
		.gridlock .row .contained.tablet-2 { width: calc( (100% / 6) * 2 ); }
		.gridlock .row .contained.tablet-3 { width: calc( (100% / 6) * 3 ); }
		.gridlock .row .contained.tablet-4 { width: calc( (100% / 6) * 4 ); }
		.gridlock .row .contained.tablet-5 { width: calc( (100% / 6) * 5 ); }
		.gridlock .row .contained.tablet-6 { width: 100%; }
	}

	/* !Desktop, 12 column, 960 (min 980) */
	@media screen and (min-width: 980px) {
		/* Cells */
		.gridlock .row .desktop-1  { width: calc( ((100% / 12) * 1)  - 20px ); }
		.gridlock .row .desktop-2  { width: calc( ((100% / 12) * 2)  - 20px ); }
		.gridlock .row .desktop-3  { width: calc( ((100% / 12) * 3)  - 20px ); }
		.gridlock .row .desktop-4  { width: calc( ((100% / 12) * 4)  - 20px ); }
		.gridlock .row .desktop-5  { width: calc( ((100% / 12) * 5)  - 20px ); }
		.gridlock .row .desktop-6  { width: calc( ((100% / 12) * 6)  - 20px ); }
		.gridlock .row .desktop-7  { width: calc( ((100% / 12) * 7)  - 20px ); }
		.gridlock .row .desktop-8  { width: calc( ((100% / 12) * 8)  - 20px ); }
		.gridlock .row .desktop-9  { width: calc( ((100% / 12) * 9)  - 20px ); }
		.gridlock .row .desktop-10 { width: calc( ((100% / 12) * 10) - 20px ); }
		.gridlock .row .desktop-11 { width: calc( ((100% / 12) * 11) - 20px ); }
		.gridlock .row .desktop-12 { width: calc( 100% - 20px ); }

		/* Push */
		.gridlock .row .desktop-push-1  { margin-left: calc( ((100% / 12) * 1)  + 10px ); }
		.gridlock .row .desktop-push-2  { margin-left: calc( ((100% / 12) * 2)  + 10px ); }
		.gridlock .row .desktop-push-3  { margin-left: calc( ((100% / 12) * 3)  + 10px ); }
		.gridlock .row .desktop-push-4  { margin-left: calc( ((100% / 12) * 4)  + 10px ); }
		.gridlock .row .desktop-push-5  { margin-left: calc( ((100% / 12) * 5)  + 10px ); }
		.gridlock .row .desktop-push-6  { margin-left: calc( ((100% / 12) * 6)  + 10px ); }
		.gridlock .row .desktop-push-7  { margin-left: calc( ((100% / 12) * 7)  + 10px ); }
		.gridlock .row .desktop-push-8  { margin-left: calc( ((100% / 12) * 8)  + 10px ); }
		.gridlock .row .desktop-push-9  { margin-left: calc( ((100% / 12) * 9)  + 10px ); }
		.gridlock .row .desktop-push-10 { margin-left: calc( ((100% / 12) * 10) + 10px ); }
		.gridlock .row .desktop-push-11 { margin-left: calc( ((100% / 12) * 11) + 10px ); }

		/* Contained */
		.gridlock .row .contained.desktop-1  { width: calc( (100% / 12) * 1 ); }
		.gridlock .row .contained.desktop-2  { width: calc( (100% / 12) * 2 ); }
		.gridlock .row .contained.desktop-3  { width: calc( (100% / 12) * 3 ); }
		.gridlock .row .contained.desktop-4  { width: calc( (100% / 12) * 4 ); }
		.gridlock .row .contained.desktop-5  { width: calc( (100% / 12) * 5 ); }
		.gridlock .row .contained.desktop-6  { width: calc( (100% / 12) * 6 ); }
		.gridlock .row .contained.desktop-7  { width: calc( (100% / 12) * 7 ); }
		.gridlock .row .contained.desktop-8  { width: calc( (100% / 12) * 8 ); }
		.gridlock .row .contained.desktop-9  { width: calc( (100% / 12) * 9 ); }
		.gridlock .row .contained.desktop-10 { width: calc( (100% / 12) * 10 ); }
		.gridlock .row .contained.desktop-11 { width: calc( (100% / 12) * 11 ); }
		.gridlock .row .contained.desktop-12 { width: 100%; }
	}

	/* !Desktop, Max, 12 column, 1200 (min 1220) */
	@media screen and (min-width: 1220px) {
		/* Cells */
		.gridlock .row .max-1  { width: calc( ((100% / 12) * 1)  - 20px ); }
		.gridlock .row .max-2  { width: calc( ((100% / 12) * 2)  - 20px ); }
		.gridlock .row .max-3  { width: calc( ((100% / 12) * 3)  - 20px ); }
		.gridlock .row .max-4  { width: calc( ((100% / 12) * 4)  - 20px ); }
		.gridlock .row .max-5  { width: calc( ((100% / 12) * 5)  - 20px ); }
		.gridlock .row .max-6  { width: calc( ((100% / 12) * 6)  - 20px ); }
		.gridlock .row .max-7  { width: calc( ((100% / 12) * 7)  - 20px ); }
		.gridlock .row .max-8  { width: calc( ((100% / 12) * 8)  - 20px ); }
		.gridlock .row .max-9  { width: calc( ((100% / 12) * 9)  - 20px ); }
		.gridlock .row .max-10 { width: calc( ((100% / 12) * 10) - 20px ); }
		.gridlock .row .max-11 { width: calc( ((100% / 12) * 11) - 20px ); }
		.gridlock .row .max-12 { width: calc( 100% - 20px ); }

		/* Push */
		.gridlock .row .max-push-1  { margin-left: calc( ((100% / 12) * 1)  + 10px ); }
		.gridlock .row .max-push-2  { margin-left: calc( ((100% / 12) * 2)  + 10px ); }
		.gridlock .row .max-push-3  { margin-left: calc( ((100% / 12) * 3)  + 10px ); }
		.gridlock .row .max-push-4  { margin-left: calc( ((100% / 12) * 4)  + 10px ); }
		.gridlock .row .max-push-5  { margin-left: calc( ((100% / 12) * 5)  + 10px ); }
		.gridlock .row .max-push-6  { margin-left: calc( ((100% / 12) * 6)  + 10px ); }
		.gridlock .row .max-push-7  { margin-left: calc( ((100% / 12) * 7)  + 10px ); }
		.gridlock .row .max-push-8  { margin-left: calc( ((100% / 12) * 8)  + 10px ); }
		.gridlock .row .max-push-9  { margin-left: calc( ((100% / 12) * 9)  + 10px ); }
		.gridlock .row .max-push-10 { margin-left: calc( ((100% / 12) * 10) + 10px ); }
		.gridlock .row .max-push-11 { margin-left: calc( ((100% / 12) * 11) + 10px ); }

		/* Contained */
		.gridlock .row .contained.max-1  { width: calc( (100% / 12) * 1 ); }
		.gridlock .row .contained.max-2  { width: calc( (100% / 12) * 2 ); }
		.gridlock .row .contained.max-3  { width: calc( (100% / 12) * 3 ); }
		.gridlock .row .contained.max-4  { width: calc( (100% / 12) * 4 ); }
		.gridlock .row .contained.max-5  { width: calc( (100% / 12) * 5 ); }
		.gridlock .row .contained.max-6  { width: calc( (100% / 12) * 6 ); }
		.gridlock .row .contained.max-7  { width: calc( (100% / 12) * 7 ); }
		.gridlock .row .contained.max-8  { width: calc( (100% / 12) * 8 ); }
		.gridlock .row .contained.max-9  { width: calc( (100% / 12) * 9 ); }
		.gridlock .row .contained.max-10 { width: calc( (100% / 12) * 10 ); }
		.gridlock .row .contained.max-11 { width: calc( (100% / 12) * 11 ); }
		.gridlock .row .contained.max-12 { width: 100%; }
	}